.card-register-person-container {
  display: flex;
  margin: 30px 0;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.card-register-person-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.card-register-person-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.form-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
}

.input-file {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--color-four);
  border: solid 1px var(--color-three);
  color: var(--color-three);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.input-file:hover {
  background-color: var(--color-three);
  color: var(--color-four);
}

.input-text {
  padding: 10px 20px;
  border: solid 1px var(--color-three);
  background-color: var(--color-four);
  color: var(--color-three);
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

.input-text:focus {
  background-color: var(--color-three);
  color: var(--color-four);
}

.input-text::placeholder {
  color: var(--color-three);
}

