/* HTML: <div class="loader"></div> */
.loader-button {
    width: 30px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#306078 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

  .button-send {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--color-four);
    border: solid 1px var(--color-three);
    color: var(--color-three);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
  }
  
  .button-send:hover {
    background-color: var(--color-three);
    color: var(--color-four);
  }
  