.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

video {
  border-radius: 10px;
}

.web-cam-img {
  border-radius: 10px;
}

.webcam-loader-Container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.overflow {
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 0.4;
}
