.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img,
video {
  border-radius: 10px;
}

.webcam-loader-Container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
