.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

video {
  border-radius: 10px;
}

.web-cam-img {
  border-radius: 10px;
}

.webcam-loader-Container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
