.button-secundary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  appearance: none;
  border-style: none;
  padding: 10px;
  background-color: var(--color-two);

  &:active {
    opacity: 0.5;
  }
}
