.card-person-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.card-persons {
  display: flex;
  width: 320px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--color-three);
  background-color: var(--color-four);
}

.card-persons-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-persons-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}

.card-person-name{
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}